.dashboard-data-section {
  /* background-image: url("../Images/image-1.jpg");
background-image:-o-linear-gradient(); */

  /* background-image:
    url("../Images/image-5.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 100px;
  background-color: #b83a3a;
}

.dashboard-sidebar {
  /* height: 900px; */
  background-color: #dad7cb;
}

/* .dashboard-data-section{

    padding: 50px 25px 50px;
      max-width: 500px;
      width: 100%;
      margin: auto;
      background-color: #fff;
      border-radius: 15px;
      margin-left: 20px;
      margin-top: 50px;

    
  } */

/* .dashboard-data-section::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../Images/image-2.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100vh;
      z-index: -1;
    }
        .dashboard-data-section {
          position: relative;
        }
     */

/* #Hovereffect {
  background-image: linear-gradient(to right, #0e76e6, #0e76e6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#Hovereffect:before {
  content: "";
  background: #0e76e6;
  display: block;
  position: absolute;
  cursor: pointer;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;

  transition: all 0.3s ease-in-out;
}

#Hovereffect:hover {
  background-position: 0;
  font-size: 17px;

}

#Hovereffect:hover::before {
  width: 100%;
} */

.nav-pills>li {
  margin: 2%;
}

/* .nav-pills>li:hover {
  background-color: #2f2b32;
  color: white;
} */

.adminhome {

  background-image: url("../Images/admin9.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}